## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

In [1]:
from bs4 import BeautifulSoup
import requests
import lxml
import numpy as np
import pandas as pd

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [11]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page = requests.get(url).text
soup = BeautifulSoup(page,'lxml')

data = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
position = main_file1.find('td',class_="rankings-block__banner--pos").text
team = main_file1.find('span',class_="u-hide-phablet").text
matches = main_file1.find('td',class_="rankings-block__banner--matches").text
points = main_file1.find('td',class_="rankings-block__banner--points").text
rating = main_file1.find('td',class_="rankings-block__banner--rating u-text-right").text.strip()
data.append([position,team,matches,points,rating])


data1 = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        position = main_file.td.text
        team = main_file.find('span',class_="u-hide-phablet").text
        m = []
        for x in main_file.find_all('td',class_="table-body__cell u-center-text"):
            m.append(x.text)
        matches = m[0]
        points = m[1]
        rating = main_file.find('td',class_="table-body__cell u-text-right rating").text
        data1.append([position,team,matches,points,rating])
        counter+=1
    else:
        break
final_df = data+data1
Top_10_ODI_teams_women = pd.DataFrame(final_df,columns=['Position','Team','Matches','Points','Rating']).style.hide_index()
Top_10_ODI_teams_women

### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [12]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_women_Batting_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best','Career Best Date'])
Top_10_women_Batting_players

              Player Team Rating        Career Best Career Best Date
0       Alyssa Healy  AUS    730        776 v India       21/09/2021
1        Beth Mooney  AUS    725      734 v England       03/02/2022
2    Laura Wolvaardt   SA    720        725 v India       07/03/2021
3        Meg Lanning  AUS    715  834 v New Zealand       24/02/2016
4     Rachael Haynes  AUS    712  713 v West Indies       15/03/2022
5     Natalie Sciver  ENG    705        712 v India       25/02/2019
6     Tammy Beaumont  ENG    701        791 v India       27/06/2021
7  Amy Satterthwaite   NZ    696    756 v Australia       02/03/2017
8        Mithali Raj  IND    696    839 v Australia       24/12/2004
9    Smriti Mandhana  IND    663      797 v England       28/02/2019

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_women_Bowling_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best Rating','Career Best Date'])
Top_10_women_Bowling_players

              Player Team Rating Career Best Rating Career Best Date
0  Sophie Ecclestone  ENG    773  773 v New Zealand       20/03/2022
1      Jess Jonassen  AUS    726  808 v New Zealand       10/04/2021
2       Megan Schutt  AUS    716  766 v West Indies       11/09/2019
3     Shabnim Ismail   SA    713        743 v India       07/03/2021
4     Marizanne Kapp   SA    688  749 v West Indies       10/09/2021
5     Ayabonga Khaka   SA    680  680 v New Zealand       17/03/2022
6     Jhulan Goswami  IND    674      796 v England       28/02/2007
7       Ellyse Perry  AUS    648  719 v West Indies       05/09/2019
8    Hayley Matthews   WI    643   644 v Bangladesh       18/03/2022
9         Kate Cross  ENG    623  623 v New Zealand       20/03/2022